<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Resource Hub | 3rd Semester</title>
    <link rel="icon" href="ecs logo/logo.jpg" type="image/icon type">
    <!-- Custom Style   -->
    <link rel="stylesheet" href="./css/Style.css">
    <link rel="stylesheet" href="./css/Styles.css">
</head>

<body>



    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="/resources" class="text-gray">ECS ResourceHUB</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                  <li class="nav-link">
                      <a href="1stsemester.html">1st Sem</a>
                  </li>
                  <li class="nav-link">
                      <a href="2ndsemester.html">2nd Sem</a>
                  </li>
                  <li class="nav-link">
                      <a href="3rdsemester.html">3rd Sem</a>
                  </li>
                  <li class="nav-link">
                      <a href="4thsemester.html">4th Sem</a>
                  </li>
                  <li class="nav-link">
                      <a href="5thsemester.html">5th Sem</a>
                  </li>
                  <li class="nav-link">
                      <a href="6thsemester.html">6th Sem</a>
                  </li>
                  <li class="nav-link">
                      <a href="7thsemester.html">7th Sem</a>
                  </li>
                  <li class="nav-link">
                      <a href="8thsemester.html">8th Sem</a>
                  </li>

                </ul>
            </div>

        </div>
    </nav>

    <!-- ------------x---------------  Navigation --------------------------x------------------- -->
<main>
<h1>3rd Semester</h1>
  <div class="wrapper">

	<h2><strong>All Subjects<span>( 5 )</span></strong></h2>

	<div class="cards">

		<figure class="card">

    <a href="https://drive.google.com/drive/u/0/folders/1Waw3okYfQZ4LAv0M4gH2hjDxihvYBp1U" >
       	<img src="./assets/1stsemester/cs101..jpg"/>
      </a>

			<figcaption>CS201</figcaption>

		</figure>

		<figure class="card">
<a href="https://drive.google.com/drive/u/0/folders/1o9O7EcyZWrebukg4tFr5f49UsP3BoY4m" download>
			<img src="./assets/1stsemester/ma101.jpg" />
</a>
			<figcaption>MA201</figcaption>

		</figure>

		<figure class="card">
<a href="https://drive.google.com/drive/u/0/folders/1yg5DfbygXgUOw8hZY0PyRfNc1J5i9BL8" download>
			<img src="./assets/3rdsemester/EC201.jpg" />
</a>
			<figcaption>EC201</figcaption>

		</figure>

		<figure class="card">
<a href="https://drive.google.com/drive/u/0/folders/1pDK7I25VsC2-xUpxVP7QPbJvEQln2-LI">
			<img src="./assets/3rdsemester/EC202.jpg" />
</a>
			<figcaption>EC202</figcaption>

		</figure>

    <figure class="card">
<a href="https://drive.google.com/drive/u/0/folders/1X-NAB6RW7gt7D02iN4LrlodJdh-ExN-8" download>
			<img src="./assets/3rdsemester/EC203.jpg" />
</a>
			<figcaption>ECE203</figcaption>

		</figure>
    <figure class="card">
    <a href="https://drive.google.com/drive/u/0/folders/1ZreTTYywS3I6NXJqcKwa_BVprsv-GcRa" download>
      <img src="./assets/3rdsemester/EC204.jpg" />
    </a>
      <figcaption>ECE204</figcaption>

    </figure>
	</div>






</main>



    <!-- Jquery Library file -->
    <script src="./js/Jquery3.4.1.min.js"></script>

    <!-- --------- Owl-Carousel js ------------------->
    <script src="./js/owl.carousel.min.js"></script>

    <!-- ------------ AOS js Library  ------------------------- -->
    <script src="./js/aos.js"></script>

    <!-- Custom Javascript file -->
    <script src="./js/main.js"></script>
</body>

</html>
