<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Resource Hub | 5th Semester</title>
    <link rel="icon" href="ecs logo/logo.jpg" type="image/icon type">
    <!-- Custom Style   -->
    <link rel="stylesheet" href="./css/Style.css">
    <link rel="stylesheet" href="./css/Styles.css">
</head>

<body>



    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="/resources" class="text-gray">ECS ResourceHUB</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                  <li class="nav-link">
                      <a href="1stsemester.html">1st Sem</a>
                  </li>
                  <li class="nav-link">
                      <a href="2ndsemester.html">2nd Sem</a>
                  </li>
                  <li class="nav-link">
                      <a href="3rdsemester.html">3rd Sem</a>
                  </li>
                  <li class="nav-link">
                      <a href="4thsemester.html">4th Sem</a>
                  </li>
                  <li class="nav-link">
                      <a href="5thsemester.html">5th Sem</a>
                  </li>
                  <li class="nav-link">
                      <a href="6thsemester.html">6th Sem</a>
                  </li>
                  <li class="nav-link">
                      <a href="7thsemester.html">7th Sem</a>
                  </li>
                  <li class="nav-link">
                      <a href="8thsemester.html">8th Sem</a>
                  </li>

                </ul>
            </div>

        </div>
    </nav>

    <!-- ------------x---------------  Navigation --------------------------x------------------- -->
<main>
<h1>5th Semester</h1>
  <div class="wrapper">

	<h2><strong>All Subjects<span>( 5 )</span></strong></h2>

	<div class="cards">

		<figure class="card">

    <a href="https://drive.google.com/drive/u/0/folders/1k32bMGitS955ldzfUzJckEWc5-NSy6Gy" download>
       	<img src="./assets/5thsemester/EC301.jpg"/>
      </a>

			<figcaption>EC301</figcaption>

		</figure>

		<figure class="card">
<a href="" download>
			<img src="./assets/5thsemester/EC302.jpg" />
</a>
			<figcaption>EC302</figcaption>

		</figure>

		<figure class="card">
<a href="" download>
			<img src="./assets/5thsemester/EC303.jpg" />
</a>
			<figcaption>EC303</figcaption>

		</figure>

		<figure class="card">

			<img src="./assets/5thsemester/EC304.jpg" />

			<figcaption>EC304</figcaption>

		</figure>

    <figure class="card">
<a href="" download>
			<img src="./assets/5thsemester/EC305.jpg" />
</a>
			<figcaption>EC305</figcaption>

		</figure>
    <figure class="card">
<a href="" download>
      <img src="./assets/5thsemester/EC306.jpg" />
</a>
      <figcaption>EC306</figcaption>

    </figure>

	</div>






</main>



    <!-- Jquery Library file -->
    <script src="./js/Jquery3.4.1.min.js"></script>

    <!-- --------- Owl-Carousel js ------------------->
    <script src="./js/owl.carousel.min.js"></script>

    <!-- ------------ AOS js Library  ------------------------- -->
    <script src="./js/aos.js"></script>

    <!-- Custom Javascript file -->
    <script src="./js/main.js"></script>
</body>

</html>
