<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Resource Hub</title>
    <link rel="icon" href="ecs logo/logo.jpg" type="image/icon type">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="./css/all.css">


    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">

    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="./css/aos.css">

    <!-- Custom Style   -->
    <link rel="stylesheet" href="./css/Style.css">

</head>

<body>



    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="#" class="text-gray">ECS ResourceHUB</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="1stsemester.html">1st Sem</a>
                    </li>
                    <li class="nav-link">
                        <a href="2ndsemester.html">2nd Sem</a>
                    </li>
                    <li class="nav-link">
                        <a href="3rdsemester.html">3rd Sem</a>
                    </li>
                    <li class="nav-link">
                        <a href="4thsemester.html">4th Sem</a>
                    </li>
                    <li class="nav-link">
                        <a href="5thsemester.html">5th Sem</a>
                    </li>
                    <li class="nav-link">
                        <a href="6thsemester.html">6th Sem</a>
                    </li>
                    <li class="nav-link">
                        <a href="7thsemester.html">7th Sem</a>
                    </li>
                    <li class="nav-link">
                        <a href="8thsemester.html">8th Sem</a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>

    <!-- ------------x---------------  Navigation --------------------------x------------------- -->



    <main>


        <section>
            <div class="blog">
                <div class="container">
                    <div class="owl-carousel owl-theme blog-post">
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img src="assets/folder2.png" alt="post-1">
                            <div class="blog-title">
                                <h3>1st Semester</h3>
                                <button onclick="location.href='1stsemester.html'" type="button" class="btn btn-blog">View Files</button>
                                <span>Updated!</span>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-in" data-aos-delay="200">
                            <img src="assets/folder2.png" alt="post-1">
                            <div class="blog-title">
                                <h3>2nd Semester</h3>
                                <button onclick="location.href='2ndsemester.html'" class="btn btn-blog">View Files</button>
                                <span>Updated</span>
                            </div>
                        </div>
                        <div id="3rdsem" class="blog-content" data-aos="fade-left" data-aos-delay="200">
                            <img src="assets/folder2.png" alt="post-1">
                            <div class="blog-title">
                                <h3>3rd Semester</h3>
                                <button onclick="location.href='3rdsemester.html'"  class="btn btn-blog">View Files</button>
                                <span>Updated</span>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img src="assets/folder2.png" alt="post-1">
                            <div class="blog-title">
                                <h3>4th Semester</h3>
                                <button onclick="location.href='4thsemester.html'"  class="btn btn-blog">View Files</button>
                                <span>Updated</span>
                            </div>
                        </div>
                        <div id="5thsem" class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img src="assets/folder2.png" alt="post-1">
                            <div class="blog-title">
                                <h3>5th Semester</h3>
                                <button onclick="location.href='5thsemester.html'" class="btn btn-blog">View Files</button>
                                <span>Updated</span>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img src="assets/folder2.png" alt="post-1">
                            <div class="blog-title">
                                <h3>6th Semester</h3>
                                <button onclick="location.href='6thsemester.html'" class="btn btn-blog">View Files</button>
                                <span>Updated</span>
                            </div>
                        </div>
                        <div id="7thsem" class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img src="assets/folder2.png" alt="post-1">
                            <div class="blog-title">
                                <h3>7th Semester</h3>
                                <button onclick="location.href='7thsemester.html'" class="btn btn-blog">View Files</button>
                                <span>Updated</span>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img src="assets/folder2.png" alt="post-1">
                            <div class="blog-title">
                                <h3>8th Semester</h3>
                                <button onclick="location.href='8thsemester.html'" class="btn btn-blog">View Files</button>
                                <span>Updated</span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-navigation">
                        <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                        <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                    </div>
                </div>
            </div>
        </section>









    </main>





    <!-- Jquery Library file -->
    <script src="./js/Jquery3.4.1.min.js"></script>

    <!-- --------- Owl-Carousel js ------------------->
    <script src="./js/owl.carousel.min.js"></script>

    <!-- ------------ AOS js Library  ------------------------- -->
    <script src="./js/aos.js"></script>

    <!-- Custom Javascript file -->
    <script src="./js/main.js"></script>
</body>

</html>
